<!DOCTYPE html>
<html>
<head>
h{
font-family: verdana;
  font-size: 20px;
}
p{
font-family: verdana;
  font-size: 20px;
}
<title>Page Title</title>
</head>
<body>

<h1>K NAGA SAI</h1>
<p>GANESH.</p>
<p>2100031359</p>

</body>
</html>